doctype html
html
    head
        title Chat
        link(rel="stylesheet" href="public/css/bootstrap.css")
        link(rel="stylesheet" href="public/css/font-awesome.min.css")
        link(rel="stylesheet" href="public/css/main.css")
    body
        a(href='https://github.com/mfbx9da4/simple-markdown-chat')
            img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
        div.container
            header
                h1 Simple markdown chat
            div.col-md-6
                div.form-group
                    label Name
                    input.form-control(placeholder="Name" type='text' value="")#name 
                div.form-group
                    label Message
                    textarea.form-control(placeholder="Message" type='text' rows="8")#message 
                button.btn.btn-default#send Send
                small  Can use 
                code shift
                |  + 
                code enter
                small  to send
                hr
                div.well#markdownPreview
            div.col-md-6
                div.chat-display
        footer#footer By 
            a(href="https://github.com/mfbx9da4") David Alberto Adler

        script(type='text/javascript') var host = "#{host}";
        //- script(data-main="public/js-loading-main" src="public/libs/require.min.js")
        //- script(src="public/libs/jquery-2.0.3.min.js")
        //- script(src="public/libs/ace/ace.js")
        //- script(src="public/libs/ace/theme-monokai.js")
        //- script(src="public/libs/ace/mode-markdown.js")
        script(src="public/libs/socket.io.min.js")
        script(src="public/libs/Markdown.Converter.js")
        script(src="public/main.js")
